* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    height: 100vh;
}

#control {
    border-right: 1px solid rgb(209, 209, 209);
    width: 40%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

#list {
    margin: 20px;
    overflow-y: scroll;
    background-color: gainsboro;
    border: 1px solid gray;
    width: calc(100% - 40px);
    height: calc(100vh - 120px);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: rgb(161, 161, 161);
    font-size: 20px;
}

#options {
    display: flex;
    flex-direction: row;
}

.option {
    color: white;
    text-align: center;
    border: 1px solid rgb(32, 131, 32);
    width: 20%;
    padding: 10px;
    background-color: rgb(37, 155, 37);
    text-transform: uppercase;
    height: 50px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
}

.option:hover {
    background-color: rgb(45, 185, 45);
}

.option.disabled {
    border: 1px solid rgb(41, 41, 41);
    background-color: rgb(138, 138, 138);
    color: black;
    cursor: not-allowed;
}

.disabled {
    border: 1px solid rgb(41, 41, 41);
    background-color: rgb(138, 138, 138);
    color: black;
    cursor: not-allowed;
}

#reset {
    border: 1px solid rgb(131, 32, 32);
    background-color: rgb(155, 37, 37);
}

#reset:hover {
    background-color: rgb(185, 45, 45);
}

#run {
    color: black;
    border: 1px solid rgb(212, 138, 0);
    background-color: orange;
}

#run:hover {
    background-color: rgb(255, 196, 0);
}

#show {
    border-left: 1px solid rgb(209, 209, 209);
    width: 60%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    box-sizing: border-box;
    border: 3px dashed rgba(0, 0, 0, .1);
    width: 9.09%;
    height: 9.09%;

    /* DISABLE ANTIALIASING */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.wall {
    background-color: black;
}

.path {
    background-color: rgb(192, 181, 65);
}

.target {
    background-color: red;
}

.safepoint {
    background-color: #41ff11;
}

.instruction {
    width: calc(100% - 10px);
    user-select: none;
    margin: 5px;
    height: 50px;
    line-height: 20px;
    color: white;
    padding: 10px;
    font-family: monospace;
}

.left {
    background-color: rgb(190, 0, 0);
    border: 1px solid rgb(134, 0, 0);
}

.right {
    background-color: green;
    border: 1px solid rgb(0, 85, 0);
}

.forward {
    background-color: blue;
    border: 1px solid rgb(0, 0, 173);
}